<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="Untree.co">
<link rel="shortcut icon" href="favicon.png">

<meta name="description" content="" />
<meta name="keywords" content="" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=PT+Mono&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/fonts/kawkab-mono/kawkab-mono-font-face.css" />
<link rel="stylesheet" href="/assets/fonts/vazirmatn/Vazirmatn-font-face.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/jquery.fancybox.min.css">
<link rel="stylesheet" href="/assets/fonts/icomoon/style.css">
<link rel="stylesheet" href="/assets/fonts/flaticon/font/flaticon.css">
<link rel="stylesheet" href="/assets/css/aos.css">
<link rel="stylesheet" href="/assets/css/style.css?ver=0.1">

<title>UTverse | آزمایشگاه متاورس شهری</title>
