<div class="lines-wrap">
  <div class="lines-inner">
    <div class="lines"></div>
  </div>
</div>

<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close">
      <span class="icofont-close js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>

<nav class="site-nav dark mb-5 site-navbar-target">
  <div class="container">
    <div class="site-navigation text-en">
      <a href="/" class="logo m-0">UTverse<span class="text-primary">.</span></a>
      <ul class="js-clone-nav d-none d-lg-inline-none site-menu float-end site-nav-wrap">
        <li><a href="/" class="nav-link active">صفحه نخست</a></li>
        <li><a href="#" class="nav-link">رویدادها</a></li>
        <li><a href="#" class="nav-link">اعضا</a></li>
        <li><a href="#" class="nav-link">خدمات</a></li>
        <li><a href="#" class="nav-link">درباره ما</a></li>
        <li><a href="#" class="nav-link">تماس با ما</a></li>
      </ul>
      <a href="#" class="burger float-start site-menu-toggle js-menu-toggle d-inline-block d-lg-inline-block">
        <span></span>
      </a>
    </div>
  </div>
</nav>
