---
layout: page
---
<section id="event" class="event section">
  <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
    <div class="row">
      <div class="col-lg-8">
        <div class="event-content aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
        <div class="event-meta mb-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
          <div class="row g-3">
            <div class="col-md-4">
              <div class="meta-item">
                <i class="bi bi-gear"></i>
                <span>{{ page.name }}</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="meta-item">
                <i class="bi bi-calendar-date"></i>
                <span>{{ page.year }}</span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="meta-item">
                <i class="bi bi-building"></i>
                <span>{{ page.brand }}</span>
              </div>
            </div>
          </div>
        </div>
          <div class="description">
            {{ content }}
          </div>
          {% if page.gallery %}
          <h3>گالری تصاویر</h3>
          <div class="row gutter-v2 gallery aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
              {% for img in page.gallery %}
              <div class="col-4">
                <a href="{{ img }}" class="gal-item" data-fancybox="gal">
                  <img src="{{ img }}" alt="{{ page.title }}" class="img-fluid">
                </a>
              </div>
              {% endfor %}
          </div>
          {% endif %}

        </div>
      </div>

      <div class="col-lg-4">
        <div class="event-image mb-4 aos-init aos-animate" data-aos="fade-up">
          <img src="{{ page.image }}" alt="{{ page.title }}" class="img-fluid rounded">
        </div>
<h3 class="mt-4">مشخصات فنی</h3>
<ul class="list-group list-group-flush border rounded shadow-sm px-0">
  {% for feature in page.features %}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <span class="fw-semibold text-muted">{{ feature.name }}</span>
    <span class="fw-bold text-end">{{ feature.value }}</span>
  </li>
  {% endfor %}
</ul>


    </div>
    </div>
  </div>
</section>
